<div class="d-flex flex-column align-items-center background">
    <header class="row justify-content-between w-100">
        <h4 class="fw-bold">Dashboard</h4>
    </header>
    <div class="row justify-content-around w-100">
        <div class="col-3">
            <div class="card rounded-0" style="height: 85px;">
                <div class="card-body">
                  <h5 class="card-title">Cantidad de Productos: </h5>
                  @if(!countProduct){
                    <div class="placeholder-glow opacity-75">
                      <p class="card-text placeholder w-100 rounded-3 bg-info"></p>
                    </div>
                  } @else {
                    <p class="card-text text-center">{{countProduct}}</p>
                  }
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-0" style="height: 85px;">
                <div class="card-body">
                  <h5 class="card-title">Cantidad de Clientes: </h5>
                   @if(!countClient){
                    <div class="placeholder-glow opacity-75">
                      <p class="card-text placeholder w-100 rounded-3 bg-info"></p>
                    </div>
                  } @else {
                    <p class="card-text text-center">{{countClient}}</p>
                  }
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-0" style="height: 85px;">
                <div class="card-body">
                  <h5 class="card-title">Ventas totales: </h5>
                  @if(!countSale){
                    <div class="placeholder-glow opacity-75">
                      <p class="card-text placeholder w-100 rounded-3 bg-info"></p>
                    </div>
                  } @else {
                    <p class="card-text text-center">{{countSale}}</p>
                  }
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around w-100 mt-4">
        <div class="col-3">
            <div class="col-12">
                <div class="card rounded-0" style="max-width: 276px;">
                    <header class="p-1 ps-2 pt-2">
                        <h5>Usuario destacado: </h5>
                    </header>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS95hVpVpCXkZ6tw2ojvzf-GkltJ_NUCpIk0w&s" class="" alt="...">
                    <div class="card-body">
                      
                        <p>Nombre: Lucas Santiago Lucas</p>
                        <p>Tipo de cliente: PREMIUM</p>
                        <p>Email: luca</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card rounded-0">
                    <header class="p-1 ps-2 pt-2">
                      <h5>Ultimo distribuidor registrado: </h5>
                    </header>
                    <div class="card-body">
                      <p>Nombre: Nvidia</p>
                      <p>Email: nvidia&#64;gmail.com</p>
                      <p>Telefono: 3886645407</p>
                    </div>
                  </div>
            </div>
        </div>

        <div class="col-7">
            <div class="col-12">
                <div class="card mb-3 shadow-sm rounded-0" style="max-width: 676px;">
                    <div class="row g-0">
                        <header class="border-1 border-bottom ps-2 pt-2">
                            <h5>Producto más Popular</h5>
                        </header>
                      <div class="col-md-4">
                        <img src="https://i.pinimg.com/736x/00/ab/b5/00abb5e0666bd32600c7251ddb9f602f.jpg" class="rounded-0 w-100" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title title">Umamusume: Pretty Derby - Special Week</h5>
                          <p class="card-text description">Del videojuego "Uma Musume: Pretty Derby", la compañía Stronger presenta la figura a escala 1/7 que le dedica a Special Week basada en la ilustración de la carta de apoyo [Japan’s No. 1 Stage].</p>
                          <p class="card-text">$87983</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-12">
                <div class="card mb-3 rounded-0">
                    <div class="row g-0">
                        <header class="border-1 border-bottom ps-2 pt-2">
                            <h5>Producto más Reciente: </h5>
                        </header>
                      <div class="col-md-4">
                        <img src="https://bci.kinokuniya.com/jsp/images/book-img/45804/45804169/4580416906388.JPG" class="rounded-0 w-100" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title title">Umamusume: Pretty Derby - Special Week</h5>
                          <p class="card-text description">Del videojuego "Uma Musume: Pretty Derby", la compañía Stronger presenta la figura a escala 1/7 que le dedica a Special Week basada en la ilustración de la carta de apoyo [Japan’s No. 1 Stage].</p>
                          <p class="card-text">$87983</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
