<div class="container-fluid background">
    <header class="row">
        <h2 class="col-12">Dashboard</h2>
    </header>
    <div class="row justify-content-around">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Cantidad de Productos: </h5>
                  <p class="card-text text-center">32.567</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Cantidad de Clientes: </h5>
                  <p class="card-text text-center">32.567</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Ventas totales: </h5>
                  <p class="card-text text-center">32.567</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4">
            <div class="col-12">
                <div class="card " style="width: 18rem;">
                    <header class="p-1">
                        <h5>Usuario destacado: </h5>
                    </header>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS95hVpVpCXkZ6tw2ojvzf-GkltJ_NUCpIk0w&s" class="card-img-top" alt="...">
                    <div class="card-body">
                      
                        <p>Nombre: Lucas Santiago Lucas</p>
                        <p>Tipo de cliente: PREMIUM</p>
                        <p>Email: luca</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <p>Nombre: Nvidia</p>
                      <p>Email: nvidia.com</p>
                      <p>Telefono: 3886645407</p>
                    </div>
                  </div>
            </div>
        </div>

        <div class="col-8">
            <div class="col-12">
                <div class="card mb-3 shadow-sm" style="max-width: 540px;">
                    <div class="row g-0">
                        <header class="border-1 border-bottom">
                            <h5>Producto más Popular</h5>
                        </header>
                      <div class="col-md-4">
                        <img src="https://i.pinimg.com/736x/00/ab/b5/00abb5e0666bd32600c7251ddb9f602f.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title title">Umamusume: Pretty Derby - Special Week</h5>
                          <p class="card-text description">Del videojuego "Uma Musume: Pretty Derby", la compañía Stronger presenta la figura a escala 1/7 que le dedica a Special Week basada en la ilustración de la carta de apoyo [Japan’s No. 1 Stage].</p>
                          <p class="card-text">$87983</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-12">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <header class="border-1 border-bottom">
                            <h5>Producto más Reciente: </h5>
                        </header>
                      <div class="col-md-4">
                        <img src="https://bci.kinokuniya.com/jsp/images/book-img/45804/45804169/4580416906388.JPG" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title title">Umamusume: Pretty Derby - Special Week</h5>
                          <p class="card-text description">Del videojuego "Uma Musume: Pretty Derby", la compañía Stronger presenta la figura a escala 1/7 que le dedica a Special Week basada en la ilustración de la carta de apoyo [Japan’s No. 1 Stage].</p>
                          <p class="card-text">$87983</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
