
<div class="nav-style">
    <aside >
        <div class="container-fluid mt-0 p-0">
            <img src="assets/image/logo.png" width="180" height="180" class="mr-3">
        </div>
       

        <p class="d-inline-flex gap-1 col-12">
            <a class="text-reset text-decoration-none ps-4 mb-0 title-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Clientes
            </a>
          </p>
          <div class="collapse ps-4" id="collapseExample">
            <div class="card card-body border-0 pt-0" style="font-size: 18px;background-color: transparent;" >
              <a href="" class=" text-reset    text-decoration-none">Consultar Cliente</a>
              <a href="" class="text-reset text-decoration-none">Modificar Cliente</a>
              <a href=""class="text-reset text-decoration-none">Eliminar Cliente</a>
              <a href=""class="text-reset text-decoration-none">Obtener Clientes</a>
              <a href=""class="text-reset text-decoration-none">Crear Cliente</a>
            </div>
          </div>


          <p class="d-inline-flex gap-1 col-12">
            <a class="text-reset text-decoration-none ps-4 mb-0 title-link" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
              Productos
            </a>
          </p>
          <div class="collapse ps-4" id="collapse2">
            <div class="card card-body border-0 pt-0" style="font-size: 18px;background-color: transparent;" >
              <a href="" class=" text-reset    text-decoration-none">Consultar Producto</a>
              <a href="" class="text-reset text-decoration-none">Actualizar Producto</a>
              <a href=""class="text-reset text-decoration-none">Eliminar Producto</a>
              <a href=""class="text-reset text-decoration-none">Recuperar Productos</a>
              <a href=""class="text-reset text-decoration-none">Registrar Producto</a>
            </div>
          </div>

          <p class="d-inline-flex gap-1 col-12">
            <a class="text-reset text-decoration-none ps-4 mb-0 title-link" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
              Proveedores
            </a>
          </p>
          <div class="collapse ps-4" id="collapse3">
            <div class="card card-body border-0 pt-0" style="font-size: 18px;background-color: transparent;" >
              <a href="" class=" text-reset    text-decoration-none">Consultar Proveedor</a>
              <a href="" class="text-reset text-decoration-none">Actualizar Proveedor</a>
              <a href=""class="text-reset text-decoration-none">Eliminar Proveedor</a>
              <a href=""class="text-reset text-decoration-none">Recuperar Proveedores</a>
              <a href=""class="text-reset text-decoration-none">Registrar Proveedor</a>
            </div>
          </div>

          <p class="d-inline-flex gap-1 col-12">
            <a class="text-reset text-decoration-none ps-4 mb-0 title-link" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
              Ventas
            </a>
          </p>
          <div class="collapse ps-4" id="collapse4">
            <div class="card card-body border-0 pt-0" style="font-size: 18px;background-color: transparent;" >
              <a href="" class=" text-reset    text-decoration-none">Obtener Ventas</a>
              <a href="" class="text-reset text-decoration-none">Realizar Venta</a>
              <a href=""class="text-reset text-decoration-none">Generar Token</a>
              <a href=""class="text-reset text-decoration-none">Filtrar Ventas</a>
              <a href=""class="text-reset text-decoration-none">Recuperar Venta</a>
              <a href=""class="text-reset text-decoration-none">Generar PDF</a>
              <a href=""class="text-reset text-decoration-none">Generar EXCEL</a>
            </div>
          </div>



          
          
    </aside>
</div>