aside{
    min-height: 100%;
    color:white;
    font-weight: bold;
    background: linear-gradient(to bottom,#FF743F,#D93D86,#58026F );
}
.title-link{
    font-size: 16px;
}
p a{
    transition: transform 0.3s ease;
}
p a:hover{
    transform: scale(1.1);
}

.collapse a{
    border-bottom: transparent solid 0.5px;
}
.collapse a:hover{
    border-bottom: 0.5px solid white;
    transition: border-bottom 0.4s ease-in;
}
.collapse .activebutton {
    border-bottom: 0.5px solid white;
}
